{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block content %}
<img src="/images/share.jpg" class="share" width="100%" />


<div id="pupbg">


<!-- congratulations -->
<div class="pupcon" id="congratulations">
	<div class="rule_con">
		<div class="rule_content single">
			<img src="/images/congratulations.png" width="72%" />
		</div>

		<div class="rule_footer">
			<a href="javascript:;" class="close">
				<img src="/images/close.png" width="100%" />
			</a>
		</div>

	</div>
</div>


</div>




<article class="dreambox second_part">


	<!-- form2 -->
	<section class="page" id="exchange_form_2">
		<div class="con">
			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>
			<div class="form">
				<ul>
					<li>
						<img src="/images/info/province.png" width="100%" class="f_name"/>
					</li>
					<li>
						<select name="province">
							<option value="(必填)">(必填)</option>
						</select>
					</li>	
					<li>
						<img src="/images/info/city.png" width="100%" class="f_tel"/>
					</li>
					<li>
						<select name="city" disabled="disabled">
							<option value="(必填)">(必填)</option>
						</select>
					</li>
					<li>
						<img src="/images/info/store.png" width="100%" class="f_tel"/>
					</li>
					<li>
						<select name="store" disabled="disabled">
							<option value="(必填)">(必填)</option>
						</select>
					</li>
					<img src="/images/confirm_btn.png" onclick="_hmt.push(['_trackEvent', '第二波btn', '确认提交领奖资料按钮'])" class="confirm_btn2"/>	
				</ul>

			</div>

			<div class="tipsMask">
				<img src="/images/info/arrow.png" width="100%" class="tips_arr"/>
				<img src="/images/info/share_title.png" width="100%" class="share_title"/>
			</div>	
		</div>	
		<img src="/images/index_bg.jpg" width="100%" />
	</section>

</article>



<script type="text/javascript">
	
	changePage('exchange_form_2');
	
	var cityData = {
			"province": [
				"北京",
				"河北",
				"辽宁",
				"吉林",
				"内蒙古",
				"天津",
				"山西",
				"新疆",
				"山东",
				"上海",
				"浙江",
				"安徽",
				"江苏",
				"湖南",
				"黑龙江",
				"湖北",
				"江西",
				"福建",
				"广东",
				"广西",
				"重庆",
				"四川",
				"贵州",
				"云南",
				"河南",
				"陕西",
				"甘肃",
				"青海"
			],
			"city":{
				"北京":["北京市"],
				"河北":["石家庄","保定市","邯郸市"],
				"辽宁":["鞍山市","大连市","沈阳市"],
				"吉林":["长春市","吉林市"],
				"内蒙古":["鄂尔多斯市","包头市","呼和浩特市"],
				"天津":["天津市"],
				"山西":["太原市"],
				"新疆":["乌鲁木齐"],
				"山东":["淄博市","烟台市","青岛市","济南市"],
				"上海":["上海市"],
				"浙江":["宁波市","杭州市","温州市"],
				"安徽":["合肥市"],
				"江苏":["南京市","无锡市","苏州市"],
				"湖南":["长沙市"],
				"湖北":["武汉市","十堰市","宜昌市"],
				"黑龙江":["哈尔滨"],
				"江西":["南昌市"],
				"福建":["厦门市","福州市"],
				"广东":["广州市","深圳市"],
				"广西":["南宁市"],
				"重庆":["重庆市"],
				"四川":["成都市"],
				"贵州":["贵阳市"],
				"云南":["昆明市"],
				"河南":["郑州市","洛阳市"],
				"陕西":["西安市"],
				"甘肃":["兰州市"],
				"青海":["西宁市"]
			},
			"store":{
				"北京市":["北京新光天地","北京燕莎","北京庄胜崇光SOGO店","北京太阳宫百盛","北京汉光百货","北京百盛","北京当代","北京双安","北京长安","北京王府井百货大楼"],
				"石家庄":["石家庄北国","石家庄先天下"],
				"保定市":["保定先天下"],
				"鞍山市":["鞍山百货"],
				"大连市":["大连友谊商城"],
				"沈阳市":["沈阳盾安","沈阳卓展"],
				"长春市":["长春欧亚","长春卓展"],
				"吉林市":["吉林国贸"],
				"鄂尔多斯市":["鄂尔多斯"],
				"包头市":["包头百货"],
				"呼和浩特市":["呼和浩特维多利"],
				"天津市":["天津海信","天津金元宝","天津伊势丹","天津友谊"],
				"太原市":["太原百盛","太原天美"],
				"乌鲁木齐":["新疆天山百货","新疆天山百货美美店","新疆世纪金花店"],
				"邯郸市":["邯郸新世纪"],
				"淄博市":["淄博银座"],
				"烟台市":["烟台振华百货"],
				"青岛市":["青岛百盛","青岛海信"],
				"济南市":["济南银座"],
				"上海市":["上海南方友谊商城","上海久光","上海新世界"],
				"宁波市":["宁波天一银泰"],
				"杭州市":["杭州武林银泰","杭州西湖银泰"],
				"温州市":["温州时代广场"],
				"合肥市":["合肥商之都","合肥百大"],
				"南京市":["南京大洋","南京中央"],
				"无锡市":["无锡商业大厦"],
				"苏州市":["苏州泰华"],
				"长沙市":["长沙王府井","长沙东塘友谊"],
				"武汉市":["武汉群光","武商广场（武汉广场）","武汉中商（中南广场）"],
				"十堰市":["十堰人民大厦"],
				"宜昌市":["宜昌国贸"],
				"哈尔滨":["哈尔滨远大","哈尔滨百盛"],
				"南昌市":["南昌百盛"],
				"厦门市":["厦门巴春"],
				"福州市":["福州大洋"],
				"广州市":["广州 广百"],
				"深圳市":["深圳茂业","深圳芮欧"],
				"南宁市":["南宁梦之岛"],
				"重庆市":["重庆世纪新都","重庆凯瑞"],
				"成都市":["成都王府井2","成都连卡佛"],
				"贵阳市":["贵阳星力"],
				"昆明市":["昆明金格"],
				"郑州市":["郑州丹尼斯花园路","郑州正道","郑州新玛特（金博大）"],
				"洛阳市":["洛阳王府井"],
				"西安市":["西安金花","西安金花高新店"],
				"兰州市":["兰州国芳"],
				"西宁市":["西宁王府井"]
			}
		}




	var provinceHtml = $.map(cityData.province,function(v){
		return '<option value="'+v+'">'+v+'</option>';
	});

	$("select[name=province]").append(provinceHtml);


	function getCityHtml(curprovince){
		var cityVal = cityData.city;
		var cityHtml = $.map(cityVal[curprovince],function(v){
			return '<option value="'+v+'">'+v+'</option>';
		});

		$("select[name=city]").html(cityHtml);
		var cpcity = $("select[name=city]").val();
		getStore(cpcity);
	}

	function getStore(curestore){
		var storeVal = cityData.store;
	
		var storeHtml = $.map(storeVal[curestore],function(v){
			return '<option value="'+v+'">'+v+'</option>';
		});

		$("select[name=store]").html(storeHtml);
	}

	

	$("select[name=province]").change(function(){
		var cprovince = $("select[name=province]").val();
		$("select[name=city], select[name=store]").removeAttr("disabled");
		getCityHtml(cprovince);
	})

	$("select[name=city]").change(function(){
		var ccity = $("select[name=city]").val();
		$("select[name=store]").removeAttr("disabled");
		getStore(ccity);
	})


	$(".close").click(function(){
        //$(document).pupClose();
        window.location.href = "{{ url('givenchy_eyelip_heartshow') }}";
    })

    $(".confirm_btn2").click(function(){
		var province_val = $("select[name=province]").val();
		var city_val = $("select[name=city]").val();
		var store_val = $("select[name=store]").val();
		if(province_val == "(必填)"){
			alert("请选择您所在的省份");
		}else if(city_val == "(必填)"){
			alert("请选择您所在的城市");
		}else if(store_val == "(必填)"){
			alert("请选择您所在城市的专柜");
		}else{
			$(".uploadloading").show();
			storeFun(jklink["store"], province_val, city_val, store_val);
		};
	})



</script>



{% endblock %}
