{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block content %}
<img src="/images/share.jpg" class="share" width="100%" />

<div id="pupbg">
	
<!-- rule -->
<div class="pupcon" id="rule">
	<div class="rule_con">
		<div class="rule_content single">
			<img src="/images/secondrule.png" width="100%" />
		</div>

		<div class="rule_footer">
			<a href="javascript:;" class="close">
				<img src="/images/close.png" width="100%" />
			</a>
		</div>

	</div>
</div>


</div>



<article class="dreambox second_part">


	<!-- heartShow -->
	<section class="page" id="heartShow">
		<div class="con">
			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>

			<div class="heartShow_con">
				<p>您一共获得了</p>
				<span class="finHeart"><em></em>颗</span>

				<a href="javascript:;" class="heartIcon">
					<img src="/images/heart-red.png" width="100%" />
				</a>
			</div>

			<div class="footer">
				<a href="javascript:_hmt.push(['_trackEvent', '第二波btn', '兑换规则按钮']);" class="click_exchange_rule_btn">
					<img src="/images/exchange_rule.png" width="100%" />
				</a>

				<a href="javascript:_hmt.push(['_trackEvent', '第二波btn', '我要兑换按钮']);" class="exchange_btn">
					<img src="/images/exchange_btn.png" width="100%" />
				</a>
			</div>
		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>


</article>



<script type="text/javascript">
	
	changePage('heartShow');

	getHeartNum(jklink["heartshow"]);


	$(".click_exchange_rule_btn").click(function(){
		$("#rule").pupOpen(); 
	})

	$(".close").click(function(){
        $(document).pupClose(); 
    })


    $(".exchange_btn").click(function(){
    	if($(this).attr("data-type") == 0){
    		window.location.href = "{{ url('givenchy_eyelip_errortips') }}";
    	}else{
    		window.location.href = "{{ url('givenchy_eyelip_prize') }}";
    	}		
	})


</script>



{% endblock %}
