{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block content %}

<div id="pupbg">
	
<!-- rule -->
<div class="pupcon" id="rule">
	<div class="rule_con">
		<div class="rule_content single">
			<img src="/images/rule.png" width="100%" />
		</div>

		<div class="footer">
			<a href="{{ url('givenchy_eyelip_upload') }}" class="do-btn">
				<img src="/images/do_btn.png" width="100%" />
			</a>
		</div>

	</div>
</div>

<!-- 产品详细 -->
<div class="pupcon" id="proInfo">
	<div class="proInfo_con">
		<img src="" id="proUrl" width="86%" />

		<div class="rule_footer">
			<a href="javascript:;" class="close">
				<img src="/images/close.png" width="100%" />
			</a>
		</div>
	</div>
</div>


</div>


<div id="loading">
	<div class="loading_logo">
		<img src="/images/loading_logo.png" width="100%" />
	</div>
	<div class="loading_num">
		loading...
	</div>
	<div id="caseVerte">  
	  <div class="case">
	  	<img src="/images/l-1.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-2.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-3.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-4.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-5.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-6.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-7.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-8.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-9.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-10.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-11.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-12.png" width="100%" />
	  </div>
	</div>
</div>


<article class="dreambox">

	<!-- 首页 -->
	<section class="page" id="index" style="display:inline-block;">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>

			<div class="slogan">
				<img src="/images/slogan.png" width="100%" />
			</div>

			<div class="video">
                <div class="holder">
                    <img src="/images/holder.jpg" width="100%" />
                </div>
                <div id="mod_player"></div>
            </div>

			<div class="footer">
				<a href="javascript:;" class="search-btn">
					<img src="/images/search-btn.png" width="100%" />
				</a>
			</div>

		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>
	
	<!-- 产品页 -->
	<section class="page" id="product">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>

			<div class="product">
				<!-- Swiper -->
			    <div class="swiper-container">
			        <div class="swiper-wrapper">

			        	<!-- product_list -->

			        </div>
			        <!-- Add Arrows -->
			        <div class="swiper-button-next">
			        	<img src="/images/arr-r.png" width="100%" />
			        </div>
			        <div class="swiper-button-prev">
			        	<img src="/images/arr-l.png" width="100%" />
			        </div>
			    </div>
			</div>


			<div class="footer">
				<a href="javascript:;" class="open-btn">
					<img src="/images/open_btn.png" width="100%" />
				</a>
			</div>

		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>

	<!-- 过度页面 -->
	<section class="page" id="transition">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>
			
			<div class="transition_con">
				<div class="lipstick">
					<div class="lipstick_mask">
						<img src="/images/cg_mask.png" width="100%" />
					</div>
					<img src="/images/cg_bg.png" width="100%" />
				</div>

				<div class="holder_arr">
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
				</div>

				<div class="holder_text">
					<img src="/images/holder_text.png" width="60%" />
				</div>

			</div>

		</div>
		<img src="/images/index_bg2.jpg" width="100%" />
	</section>

</article>

<script type="text/javascript">
	


	function productlist(){
		var plHtml = $.map(pro_data,function(v,k){
			return '<div class="swiper-slide"><dl class="prolist"><dt><img src="/images/pro/p'+parseInt(k+1)+'/people.jpg" data-pro="/images/pro/p'+parseInt(k+1)+'/pro.png" width="100%" /><p>发现妆容秘籍</p></dt><dd><h2>'+v.title+'</h2><p>'+v.info+'</p></dd></dl></div>';
		})
		$(".swiper-wrapper").html(plHtml);

		var swiper = new Swiper('.swiper-container', {
		    nextButton: '.swiper-button-next',
		    prevButton: '.swiper-button-prev',
		    effect : 'coverflow',
		    slidesPerView: 1,
			centeredSlides: true,
		    coverflow: {
	            rotate: 100,
	            stretch: 30,
	            depth: 20,
	            modifier: 1,
	            slideShadows : false
	        }
		});

		$(".prolist dt").click(function(){
			$("#proInfo").pupOpen(); 
			$(this).find("img").pupInfo("#proUrl");
		})
	}



	$(".close").click(function(){
		$(document).pupClose(); 
	})

	$(".open-btn").click(function(){
		changePage('transition');
	})
	
	touch.on('.transition_con', 'swiperight', function(ev){

	    TweenMax.fromTo(document.querySelector('.lipstick_mask'), 2, {
	        x:0,
	        blurFilter:{blurX:50, blurY:10},
	        opacity:0
	    }, {
	    	x:220,
	    	opacity:1,
	        ease: Elastic.easeOut,
	        easeParams: [0.6, 0.9],
	        force3D: false,
	        onComplete:function(){
	       		
	        }
	    });	
	    $("#rule").pupOpen(); 

	});



</script>


{% endblock %}