{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block content %}

<div id="pupbg">
	
<!-- rule -->
<div class="pupcon" id="rule">
	<div class="rule_con">
		<div class="rule_content single">
			<img src="/images/rule.png" width="100%" />
		</div>

		<div class="footer">
			<a href="{{ url('givenchy_eyelip_upload') }}" class="do-btn">
				<img src="/images/do_btn.png" width="100%" />
			</a>
		</div>

	</div>
</div>

<!-- 产品详细 -->
<div class="pupcon" id="proInfo">
	<div class="proInfo_con">
		<img src="" id="proUrl" width="86%" />

		<div class="rule_footer">
			<a href="javascript:;" class="close">
				<img src="/images/close.png" width="100%" />
			</a>
		</div>
	</div>
</div>


</div>


<div id="loading">
	<div class="loading_logo">
		<img src="/images/loading_logo.png" width="100%" />
	</div>
	<div class="loading_num">
		loading...
	</div>
	<div id="caseVerte">  
	  <div class="case">
	  	<img src="/images/l-1.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-2.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-3.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-4.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-5.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-6.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-7.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-8.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-9.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-10.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-11.png" width="100%" />
	  </div>
	  <div class="case">
	  	<img src="/images/l-12.png" width="100%" />
	  </div>
	</div>
</div>


<article class="dreambox">

	<!-- 首页 -->
	<section class="page" id="index" style="display:inline-block;">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>

			<div class="slogan">
				<img src="/images/slogan.png" width="100%" />
			</div>

			<div class="video">
                <div class="holder">
                    <img src="/images/holder.jpg" width="100%" />
                </div>
                <div id="mod_player"></div>
            </div>

			<div class="footer">
				<a href="javascript:;" class="search-btn">
					<img src="/images/search-btn.png" width="100%" />
				</a>
			</div>

		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>
	
	<!-- 产品页 -->
	<section class="page" id="product">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>

			<div class="product">
				<!-- Swiper -->
			    <div class="swiper-container">
			        <div class="swiper-wrapper">

			        	<!-- product_list -->

			        </div>
			        <!-- Add Arrows -->
			        <div class="swiper-button-next">
			        	<img src="/images/arr-r.png" width="100%" />
			        </div>
			        <div class="swiper-button-prev">
			        	<img src="/images/arr-l.png" width="100%" />
			        </div>
			    </div>
			</div>


			<div class="footer">
				<a href="javascript:;" class="open-btn">
					<img src="/images/open_btn.png" width="100%" />
				</a>
			</div>

		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>

	<!-- 过度页面 -->
	<section class="page" id="transition">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>
			
			<div class="transition_con">
				<div class="lipstick">
					<div class="lipstick_mask">
						<img src="/images/cg_mask.png" width="100%" />
					</div>
					<img src="/images/cg_bg.png" width="100%" />
				</div>

				<div class="holder_arr">
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
					<img src="/images/holder_arr.png" />
				</div>

				<div class="holder_text">
					<img src="/images/holder_text.png" width="60%" />
				</div>

			</div>

		</div>
		<img src="/images/index_bg2.jpg" width="100%" />
	</section>

</article>

<script type="text/javascript">
	var pro_data = [
		{
			"title": "悠扬海上夜曲",
			"info": "海蓝眼影，几何线条，增添眼部结构感；<br />自然裸色，弱化唇妆，凸显眼妆个性感。"
		},
		{
			"title": "炫魅派对之吻",
			"info": "玩转色彩，深邃炫目，感受电眼魅力；<br />明丽玫瑰，活泼爽快，营造派对气氛。"
		},
		{
			"title": "铿锵摇滚玫瑰",
			"info": "飞扬眼妆，灰黑酷劲，秀出真我个性；<br />经典裸唇，贴近本色，尽显眼妆张力。"
		},
		{
			"title": "精致通勤女郎",
			"info": "沉静灰色，知性气质，双眼深邃有神；<br />经典魅红，增加亮色，提升自信气场。"
		},
		{
			"title": "俏皮小猫公主",
			"info": "紫色眼线，藕荷眼影，墨绿点缀，明亮眼眸；<br />玫瑰粉红，对比眼妆，摩登职业，优雅干练。"
		},
		{
			"title": "职场个性先锋",
			"info": "金灰碰撞，烟熏眼妆，凸显深邃眼神；<br />朱砂红唇，点亮肤色，倍感干练自信。"
		},
		{
			"title": "浪漫珊瑚女神",
			"info": "柔和咖啡，淡雅香槟，打造明亮双眸；<br />珊瑚唇色，轻松上妆，散发亲和魅力。"
		},
		{
			"title": "清新假日阳光",
			"info": "灰绿配暖橘眼影，适合亚洲肤色；<br />甜心粉红色唇妆，更显肌肤白皙。"
		}
	] 



	function productlist(){
		var plHtml = $.map(pro_data,function(v,k){
			return '<div class="swiper-slide"><dl class="prolist"><dt><img src="/images/pro/p'+parseInt(k+1)+'/people.jpg" data-pro="/images/pro/p'+parseInt(k+1)+'/pro.png" width="100%" /><p>发现妆容秘籍</p></dt><dd><h2>'+v.title+'</h2><p>'+v.info+'</p></dd></dl></div>';
		})
		$(".swiper-wrapper").html(plHtml);

		var swiper = new Swiper('.swiper-container', {
		    nextButton: '.swiper-button-next',
		    prevButton: '.swiper-button-prev',
		    effect : 'coverflow',
		    slidesPerView: 1,
			centeredSlides: true,
		    coverflow: {
	            rotate: 100,
	            stretch: 30,
	            depth: 20,
	            modifier: 1,
	            slideShadows : false
	        }
		});

		$(".prolist dt").click(function(){
			$("#proInfo").pupOpen(); 
			$(this).find("img").pupInfo("#proUrl");
		})
	}



	$(".close").click(function(){
		$(document).pupClose(); 
	})

	$(".open-btn").click(function(){
		changePage('transition');
	})
	
	touch.on('.transition_con', 'swiperight', function(ev){

	    TweenMax.fromTo(document.querySelector('.lipstick_mask'), 2, {
	        x:0,
	        blurFilter:{blurX:50, blurY:10},
	        opacity:0
	    }, {
	    	x:220,
	    	opacity:1,
	        ease: Elastic.easeOut,
	        easeParams: [0.6, 0.9],
	        force3D: false,
	        onComplete:function(){
	       		
	        }
	    });	
	    $("#rule").pupOpen(); 

	});



</script>


{% endblock %}