{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block content %}
<img src="/images/share.jpg" class="share" width="100%" />

<article class="dreambox second_part">


	<!-- prize -->
	<section class="page" id="prize">
		<div class="con">
			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>

			<div class="prizeCon">
				<div class="prizetitle">
					<img src="/images/prize_title.png" width="100%" />
				</div>
				<div class="prizelist">
					
					<!-- Swiper -->
				    <div class="swiper-container">
				        <div class="swiper-wrapper prizelist_con">

				        	<!-- prize_list -->

				        </div>
				        <!-- Add Arrows -->
				        <div class="swiper-button-next">
				        	<img src="/images/arr-r.png" width="100%" />
				        </div>
				        <div class="swiper-button-prev">
				        	<img src="/images/arr-l.png" width="100%" />
				        </div>
				    </div>

				</div>
			</div>

			<div class="footer">
				<a href="javascript:_hmt.push(['_trackEvent', '第二波btn', '确认提交选择奖品按钮']);" class="confirm_submit_btn">
					<img src="/images/confirm_submit.png" width="100%" />
				</a>
			</div>
		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>


</article>



<script type="text/javascript">
	changePage('prize');

	$.ajax({
	    type: "POST",
	    url: jklink["heartshow"],
	    dataType:"json"
	}).done(function(data){
		if(data.code == 1){
			writeProlistHtml(data.ballot);
		}else{
			alert(data.msg);
		}
	}).fail(function(){
		alert("加载出错！请重新加载。");
	})



	function writeProlistHtml(heartNumber){
		if(heartNumber < 20){

		}else if(heartNumber >= 20 && heartNumber < 40){
			prizelistFun(0); 
		}else if(heartNumber >= 40 && heartNumber < 60){
			prizelistFun(1);
			alert('向右滑动选择您的心仪奖品')
		}else{
			prizelistFun(2);
			alert('向右滑动选择您的心仪奖品')
		}
	}
	



	var prizeData = [
		{
			"pimg":"/images/prize-1.jpg",
			"pname":"高定恒颜遮瑕修颜笔"
		},
		{
			"pimg":"/images/prize-2.jpg",
			"pname":"高定香榭丝缎唇膏"
		},
		{
			"pimg":"/images/prize-3.jpg",
			"pname":"高定魅彩四色眼影"
		}
	]



	function prizelistFun(prizeGrade){
		var prizelistHtml = $.map(prizeData,function(v,k){
				if(k <= prizeGrade){
					return '<div class="swiper-slide" data-name="'+v.pname+'" data-id="'+k+'"><dl><dt><img src="'+v.pimg+'" width="100%" /></dt><dd>'+v.pname+'<em>（指定色号，产品以实物为准）</em></dd></dl></div>';
				}
			})

			$(".swiper-wrapper").html(prizelistHtml);

			var swiper = new Swiper('.swiper-container', {
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			    effect : 'coverflow',
			    slidesPerView: 1,
				centeredSlides: true,
			    coverflow: {
		            rotate: 100,
		            stretch: 30,
		            depth: 20,
		            modifier: 1,
		            slideShadows : false
		        }
			});
	}




	$(".confirm_submit_btn").click(function(){
		var selectpro_name = $(".swiper-slide-active").attr("data-name");
		var stepUrl = "{{ url('givenchy_eyelip_form') }}";
		lotteryFun(jklink["lottery"], selectpro_name, stepUrl);
	})


</script>



{% endblock %}
