{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block content %}

<img src="/images/share.jpg" class="share" width="100%" />

<article class="dreambox">

	<!-- 图片上传页面 -->
	<section class="page" id="upload" style="display:inline-block;">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>
			
			<div class="uploadCon">
				<div class="photoShow">
					<div id="showImg">
						<img src="/images/placeholder.png" width="100%" />
					</div>
					<a href="javascript:;" class="photoClose">
						<img src="/images/close.png" width="100%" />
					</a>
					<img src="/images/place.jpg" width="100%" class="place" />
				</div>
				<ul class="upload_list">
					<li><input capture="camera" type="file" /><img src="/images/upload_place.png" width="100%" /></li>
 					<li><input capture="camera" type="file" /><img src="/images/upload_place.png" width="100%" /></li>
					<li><input capture="camera" type="file" /><img src="/images/upload_place.png" width="100%" /></li>
				</ul>

			</div>

			<div class="footer">
				<a href="javascript:;" class="btn upload_btn">
					<img src="/images/upload_btn.png" width="100%" />
				</a>
			</div>

		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>

	<!-- 选择风格 -->
	<section class="page" id="choseStyle">
		<div class="con">

			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>
				
			<div class="choseStyle_con">
				
				<!-- Swiper -->
			    <div class="swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" data-id="one">
			            	<a href="javascript:;" data-type="/video/s1.mp4" class="play_ico"></a>
			            	<div class="stylevideo"></div>
			            	<img src="/images/poster-1.jpg" width="100%" />
			            	<p>动人朱颜</p>
			            </div>
			            <div class="swiper-slide" data-id="two">
			            	<a href="javascript:;" data-type="/video/s2.mp4" class="play_ico"></a>
			            	<div class="stylevideo"></div>
							<img src="/images/poster-2.jpg" width="100%" />
							<p>眸间魅影</p>
			            </div>
			            <div class="swiper-slide" data-id="three">
			            	<a href="javascript:;" data-type="/video/s3.mp4" class="play_ico"></a>
			            	<div class="stylevideo"></div>
			            	<img src="/images/poster-3.jpg" width="100%" />
			            	<p>娇唇炫色</p>
			            </div>
			        </div>
			        <!-- Add Arrows -->
			        <div class="swiper-button-next">
			        	<img src="/images/arr-r.png" width="70%" />
			        </div>
			        <div class="swiper-button-prev">
			        	<img src="/images/arr-l.png" width="70%" />
			        </div>
			    </div>

			    <div class="styleTitle">
			    	<img src="/images/style_title.png" />
			    </div>


			</div>	

			<div class="footer">
				<a href="javascript:;" class="btn chose_btn">
					<img src="/images/commission_btn.png" width="100%" />
				</a>
			</div>
			
		</div>
		<img src="/images/index_bg.jpg" width="100%" />
	</section>
	

	<!-- 表单 -->
	<section class="page" id="info">
		<div class="con">
			<a href="javascript:;" class="logo">
				<img src="/images/logo.png" width="100%" />
			</a>
			<div class="form">
				<ul>
					<li>
						<img src="/images/info/name.png" width="100%" class="f_name"/>
					</li>
					<li>
						<input type="text" name="name" id="name" placeholder="(必填)" />
					</li>	
					<li>
						<img src="/images/info/tel.png" width="100%" class="f_tel"/>
					</li>
					<li>
						<input type="tel" name="tel" maxlength="11" id="tel" placeholder="(必填)"/>
					</li>
					<img src="/images/create_btn.png" width="100%" class="create_btn"/>	
				</ul>

				<img src="/images/info/tips.png" width="100%" class="tips_txt"/>
			</div>

			<div class="tipsMask">
				<img src="/images/info/arrow.png" width="100%" class="tips_arr"/>
				<img src="/images/info/share_title.png" width="100%" class="share_title"/>
			</div>	
		</div>	
		<img src="/images/index_bg.jpg" width="100%" />
	</section>



</article>

<script type="text/javascript">


$(".photoClose").click(function(){
	if($("#showImg img").attr("src") == "")return false;
	$("#showImg img").attr("src","").hide();
	$(".upload_list li.hover").find(".photoImg").remove();
	$(".upload_list li.hover").removeClass("hasimg hover");
	$(this).fadeOut();
})

$(".upload_list li").click(function(event){

	if($(this).hasClass("hover") && !$(this).hasClass("hasimg")) return false;
	var curUrl = $(this).find(".photoImg img").attr("src");
	$(".upload_list li").removeClass("hover");
	$(this).addClass("hover");
	if(!$(this).hasClass("hasimg")){

	}else{
		$("#showImg img").attr("src", curUrl).show();
		$(".photoClose").show();
	}
	event.stopPropagation();

})

	
function hasClass(ele,cls) {
    return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
}
function addClass(ele,cls) {
    if (!this.hasClass(ele,cls)) ele.className += ""+cls;
}
function removeClass(ele,cls) {
    if (hasClass(ele,cls)) {
    var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
        ele.className=ele.className.replace(reg,' ');
    }
}


// Select all links
var links = document.querySelectorAll("input");

// For each link element
[].forEach.call(links, function(el) {
  if(el.type!="file")return false;
  // Add event listener
  el.addEventListener("change", function(event) {
    event.preventDefault();
    var that = this;
    lrz(that.files[0], {
        width: 1024
    })
        .then(function (rst) {
            var img        = new Image(),
                div        = document.createElement('div'),
                sourceSize = toFixed2(that.files[0].size / 1024),
                resultSize = toFixed2(rst.base64Len * 0.8 / 1024),
                scale      = parseInt(100 - (resultSize / sourceSize * 100));


            div.className = 'photoImg';
            div.appendChild(img);

            img.onload = function () {
            	$(".upload_list li").removeClass("hover");
            	addClass(that.parentNode,"hasimg hover");
                that.parentNode.appendChild(div);
            };

            img.src = rst.base64;
            $(img).css("width","100%");
            $("#showImg img").attr("src",rst.base64).fadeIn();
            $(".photoClose").fadeIn();

            return rst;
        });

  }, false);

});


function toFixed2 (num) {
    return parseFloat(+num.toFixed(2));
}





/* 选择风格 */
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    effect: 'coverflow',
    centeredSlides: true,
    slidesPerView: "auto",
    initialSlide :1,
    coverflow: {
        rotate: 30,
        stretch: -6,
        depth: 30,
        modifier: 1,
        slideShadows : false
    },
    onTouchStart: function(){
      $(".stylevideo").html("");
      $(".play_ico").show();
    }
});

var createInfo = {
	"uploadImgs":"",
	"selectStyle":""
}


$(".upload_btn").click(function(){
	createInfo["uploadImgs"] = [];
	$(".upload_list li").each(function(){
		if($(this).hasClass("hasimg")){
			createInfo["uploadImgs"].push($(this).find(".photoImg img").attr("src").replace("data:image/jpeg;base64,", ""));
		}	
	})

	var plength = $(".photoImg").length;
	if(plength > 0){
		changePage("choseStyle");
		swiper.update();
	}else{
		alert("点击上传1-3你的照片");
	}
})



$(".play_ico").click(function(){
	$(".stylevideo").html("");
	$(".play_ico").show();

	var tType = $(this).attr("data-type");
	var myVideo = document.createElement("video");
	var _ts = $(this);  
	myVideo.src = tType;
	$(this).siblings("img").css("opacity",1);

	$(this).siblings(".stylevideo").html(myVideo);
	$(this).hide();
	myVideo.play();

	eventTester = function(e){  
	      myVideo.addEventListener(e,function(){  
	      		//console.log(e);
	      	   $(".play_ico").show();
	           $(".stylevideo").html("");
	           _ts.siblings("img").css("opacity",1);
	      });  
	}  

	eventTester("pause");

})

$(".chose_btn").click(function(){
	createInfo["selectStyle"] = $(".swiper-slide-active").attr("data-id");
	changePage("info");
	// {{ url('givenchy_eyelip_finish') }}
})

function checkForm(){
	var name=$("#name").val();
	var tel=$("#tel").val();

	if(name==""){
		alert("请填写姓名，姓名为必填项！");
		return false;
	}else if(!tel.match(/13[0-9]{9}|14[0-9]{9}|15[0-9]{9}|18[0-9]{9}/)){
		alert("请输入您的电话，电话为必填项！");
		return false;
	}else{

		// infoFun(jklink["info"], name, tel, uploadFun(jklink["upload"], createInfo["uploadImgs"], createInfo["selectStyle"], jklink["tzlink"]));
		infoFun(jklink["info"], name, tel, uploadFun(jklink["upload"], createInfo["uploadImgs"], createInfo["selectStyle"], jklink["tzlink"]));
		$(".uploadloading").show();
		
		//$("#wechat_tips").fadeIn();
	}
}


$(".create_btn").on("click",function(){
	checkForm();
});



</script>


{% endblock %}